<script defer src="/js/form-validation.js"></script>
<img id="headline" class="img-fluid mb-5" src="https://res.cloudinary.com/jamestan/image/upload/v1626106130/Adora-background_moklv1.jpg"
    alt="Adora's headline cover picture">
<h2 class="text-center mb-3">Discover the latest news in the crypto industry</h2>
    <form class="d-flex mb-5" action="/news/search" method="GET" novalidate class="needs-validation">
        <input class="form-control me-2" type="search" name="q" placeholder="What are you looking for?" aria-label="Search">
        <button class="button" type="submit">Search</button>
    </form>