<% layout('layouts/boilerplate') %>
  <link rel="stylesheet" href="/css/about.min.css">

  <section class="row mt-5" id="introduction">
    <div class="col-10 offset-1">
      <h2 class="mb-4">Introduction</h2>
      <p>Adora is a group of projects where we will run travel agencies, real estate agents, healthcare services, and
        more. These projects enhance the core functionality of Adora Coin (ARA), designed for usability and speed.</p>
      <p>You can not only hold but also trade, swap, staking, lending Adora Coin on many exchanges and the most
        important
        thing is that you can use Adora Coin as a payment on our ecosystem and our merchants. From
        buying coffee to booking a package tour to buying real estate, Adora makes your life so much simpler.
      </p>
      <p>Adora Coin aims to be near-instant, very low fees or feeless cryptocurrency with advanced technology, high
        security, and environmentally friendly.</p>
    </div>
  </section>
  <section class="row mt-5 py-5" id="vision">
    <div class="col-10 offset-1 col-md-6 offset-md-1">
      <h2 class="mb-4 text-center">Vision</h2>
      <p>—Our vision is to become a popular and friendly cryptocurrency that provides advanced ledger with high
        security for everyday use for all users. Adora Coin itself plays a very important role in our ecosystem
        landscape, the backbone to sustainability and growth. Through Adora Coin and its ecosystem, we offer users
        the benefit from the unforgettable experience of digital money in their everyday lives.</p>
    </div>
    <div class="col-10 offset-1 col-md-3 offset-md-1 d-flex flex-column text-center justify-content-evenly">
      <a class="text-button mt-3"
        href="https://drive.google.com/file/d/1yLYb_1EDiaz8PxsdBgXw-96rv9ooYr2G/view">Whitepaper</a>
      <a class="text-button mt-3"
        href="https://etherscan.io/token/0x9ac5c63ddcb93612e316ab31dfc8192bc8961988">Explorer</a>
    </div>
  </section>
  <section class="mt-5 py-5 row" id="ecosystem">
    <div class="col-8 offset-1">
      <h2 class="text-center">Ecosystem</h2>
      <div class="row">
        <div class="icon col-6 col-md-3 d-flex flex-column align-items-center">
          <i class="far fa-chart-bar"></i>
          <p>Exchange</p>
        </div>
        <div class="icon col-6 col-md-3 d-flex flex-column align-items-center">
          <i class="fas fa-wallet"></i>
          <p>Wallet</p>
        </div>
        <div class="icon col-6 col-md-3 d-flex flex-column align-items-center">
          <i class="fas fa-map-marked-alt"></i>
          <p>Travel</p>
        </div>
        <div class="icon col-6 col-md-3 d-flex flex-column align-items-center">
          <i class="fas fa-credit-card"></i>
          <p>ATM</p>
        </div>
        <div class="icon col-6 col-md-3 d-flex flex-column align-items-center">
          <i class="fas fa-shopping-cart"></i>
          <p>E-commerce</p>
        </div>
        <div class="icon col-6 col-md-3 d-flex flex-column align-items-center">
          <i class="fas fa-home"></i>
          <p>Property</p>
        </div>
        <div class="icon col-6 col-md-3 d-flex flex-column align-items-center">
          <i class="fas fa-tooth"></i>
          <p>Dentistry</p>
        </div>
        <div class="icon col-6 col-md-3 d-flex flex-column align-items-center">
          <i class="fas fa-user-md"></i>
          <p>Healthcare</p>
        </div>
      </div>
    </div>
  </section>
  <section class="mt-5 row" id="wallet">
    <div class="col-8 offset-3 col-md-6 offset-md-4">
      <h2 class="mb-4 text-center">Wallet</h2>
      <p>You can hold Adora ERC-20 Tokens with MetaMask or Trust Wallet,
        then add Adora using our <a class="text-link"
          href="https://etherscan.io/token/0x9ac5c63ddcb93612e316ab31dfc8192bc8961988">Adora contract</a>.</p>
      <div class="ps-4 d-flex flex-wrap justify-content-center align-items-center">
        <a class="mb-3 me-4" href="https://trustwallet.com/download-page"><img class="wallet-logo"
            src="https://res.cloudinary.com/jamestan/image/upload/v1632290489/horizontal_white_wcicfe.png"
            alt="TrustWalet Logo"></a>
        <a class="mb-3 me-4" href="https://metamask.io/download.html"><img class="wallet-logo"
            src="https://res.cloudinary.com/jamestan/image/upload/v1632290590/metamask-logo-1543185927_gjnycz.png"
            alt="MetaMask Logo"></a>
        <a class="mb-3 me-4" href="https://safepal.io/download"><img class="wallet-logo"
            src="https://res.cloudinary.com/jamestan/image/upload/v1632288972/safepal-logo_pmz0yy.png"
            alt="SafePal Logo"></a>
        <a class="mb-3 me-4" href="https://wallet.coinbase.com/"><img class="wallet-logo"
            src="https://res.cloudinary.com/jamestan/image/upload/v1632290238/coinbase-wallet-review-logo-big-5f20289cca5d1.o_tw4q15.png"
            alt="CoinBase Wallet Logo"></a>
      </div>
      <p class="text-small">(If you've already have MetaMask installed on your browser, click here to <a
          class="text-link" href="https://master.dnt8k4fk4igtl.amplifyapp.com/">add Adora to your
          MetaMask</a>)</p>
      <p class="text-small">If you are new to these wallet, you can find more guiding here:</p>
      <ul>
        <li><a class="text-small text-link"
            href="https://community.trustwallet.com/c/helpcenter/basics/11">Get started with Trust Wallet</a></li>
        <li><a class="text-small text-link"
            href="https://community.metamask.io/c/support/new-to-metamask-start-here/6">Get started with MetaMask</a>
        </li>
        <li><a class="text-small text-link"
            href="https://docs.safepal.io/safepal-app">Get started with SafePal</a></li>
      </ul>
    </div>
  </section>
  <section class="mt-5 py-5 col-10 offset-1" id="get-adora">
    <h2 class="mb-5 text-center">Where to find Adora</h2>
    <div class="ps-5 container-fluid d-flex flex-wrap justify-content-center align-items-center">
      <a class="my-5 me-5" href="https://etherscan.io/token/0x9ac5c63ddcb93612e316ab31dfc8192bc8961988"><img
          src="https://res.cloudinary.com/jamestan/image/upload/v1625657456/etherscan-logo-light_aeqj55.svg"
          alt="Etherscan Logo"></a>
      <a class="my-5 me-5" href="https://bigone.com/trade/ARA-USDT"><img
          src="https://res.cloudinary.com/jamestan/image/upload/v1625657456/bigone_fnaksg.svg" alt="BigOne Logo"></a>
      <a class="my-5 me-5" href="https://biconomy.com/exchange?coin=ARA_USDT"><img
          src="https://res.cloudinary.com/jamestan/image/upload/v1625657457/biconomy_ytueub.svg" alt="Biconomy Logo"></a>
      <a class="my-5 me-5" href="https://nomics.com/assets/ara3-adora-token"><img
          src="https://res.cloudinary.com/jamestan/image/upload/v1632116165/Nomics_Logomark_Horz-Purple-White_aubxoo.png" alt="Nomics Logo"></a>
      <a class="my-5 me-5" href="https://app.uniswap.org/"><img
          src="https://res.cloudinary.com/jamestan/image/upload/v1629791615/uniswap-uni-logo_dyhllj.svg" alt="UniSwap Logo"></a>
      <a class="my-5 me-5" href="https://coinmarketcap.com/currencies/adora-token/"><img
          src="https://res.cloudinary.com/jamestan/image/upload/v1631437903/CMC_Logo-full-white_hbekrz.svg" alt="CoinMarketCap Logo"></a>
      <a class="my-5 me-5" href="https://www.coingecko.com/en/coins/adora-token"><img
          src="https://res.cloudinary.com/jamestan/image/upload/v1631437977/coingecko_kirmtu.webp" alt="CoinGecko Logo"></a>
    </div>
  </section>
  <section class="mt-5 py-5" id="connect">
    <h2 class="mb-4 text-center">Connect with us</h2>
    <div class="d-flex justify-content-center align-items-center">
      <a href="https://t.me/AdoraCommunitygroup">
        <div class="icon d-flex align-items-center">
          <i class="fab fa-telegram-plane"></i>
          <p>Telegram</p>
        </div>
      </a>
      <a href="https://twitter.com/adoraFinance">
        <div class="icon d-flex align-items-center">
          <i class="fab fa-twitter"></i>
          <p>Twitter</p>
        </div>
      </a>
    </div>
  </section>