<% layout('layouts/boilerplate') %>
  <link rel="stylesheet" href="/css/home.min.css">

  <div class="row mx-0">
    <div id="contents" class="col-10 offset-1 col-md-7 offset-md-1 d-flex flex-column">
      <h1>
        A CRYPTO CURRENCY
        <br>THAT
        <br><span class="stress">SIMPLIFIES YOUR WORLD</span>
      </h1>
      <div class="my-5 row">
        <a class="col-6 offset-1 col-sm-4 offset-sm-0 col-xl-3 button text-center" href="/about">Learn More</a>
        <div class="col-12 col-sm-1 p-3 py-sm-0"></div>
        <a class="col-6 offset-1 col-sm-4 offset-sm-0 col-xl-3 text-center text-button" href="/about/#wallet">Get Started</a>
      </div>
      <p>
        From buying coffee to booking your package tour
        <br>purchasing real estate. Adora makes your life much simpler.
      </p>
    </div>
    <div id="icons" class="col-10 offset-1 col-md-3 align-self-center pb-5 d-flex flex-column">
      <div class="icon d-flex align-items-center mb-5">
        <i class="fas fa-th-large bd-highlight me-3"></i>
        <p class="my-0">Usability</p>
      </div>
      <div class="icon d-flex align-items-center mb-5">
        <i class="fas fa-angle-double-right me-3"></i>
        <p class="my-0">Convenience</p>
      </div>
      <div class="icon d-flex align-items-center">
        <i class="fas fa-shield-alt me-3"></i>
        <p class="my-0">Security</p>
      </div>
    </div>
  </div>