@import url("/css/root.css");
@import url("/css/navbar.css");
@import url("/css/buttons.css");

body {
  height: 100vh;
  background-image: url("https://res.cloudinary.com/jamestan/image/upload/v1625565965/Adora-landing-page-desktop_1_xbxnyc.jpg");
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-attachment: fixed;
  background-size: cover;
}

main {
  padding-top: 9rem;
}

#navbar {
  background-color: transparent;
  box-shadow: none;
}

#contents h1 {
  font-size: var(--h4);
  line-height: 1.5;
}

#contents .stress {
  font-size: 2.7rem;
  color: var(--logoColor);
  text-shadow: var(--shadow2db);
}

#contents p {
  line-height: 1.8;
}

#icons i {
  color: var(--buttonColor);
  font-size: 2.5rem;
  text-shadow: var(--shadow2db);
}

#icons p {
  font-size: var(--h5);
}

@media (max-width: 992px) {
  #navbar {
    width: 100%;
    background-color: var(--darkGreenOpacity);
    z-index: 1;
    box-shadow: var(--shadow2db);
  }
  main {
    /* padding-top: 1rem; */
  }
}

@media (max-width: 768px) {
  #icons {
    padding-top: 5rem;
    padding-left: 1rem;
  }
}

@media (max-width: 576px) {
  #icons {
    padding-top: 5rem;
    padding-left: 1rem;
  }
}
