@import url("/css/root.css");
@import url("/css/navbar.css");
@import url("/css/footer.css");
@import url("/css/buttons.css");


main {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

#headline {
    box-shadow: var(--shadow2db);
}

.form {
  position: relative;
}

.form-select > option {
    color: black;
}

.card {
  background-color: var(--greenOpacity);
  border-radius: 0.6rem;
}

#newsCarousel {
    z-index: -1;
}

label input textarea {
  font-size: var(--body1);
}

.valid-feedback {
  color: var(--textColor);
}

.alert {
  z-index: 1000;
}