<%layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/css/contact.min.css">
<script defer src="/js/form-validation.js"></script>
<form 
    class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 d-flex flex-column p-5 needs-validation" 
    method="POST" 
    action="/api/circulating-supply/edit?_method=PUT"
>
    <label class="form-label me-1 " for="circSupply">Edit ARA circulating supply</label>
    <input class="form-control me-1" type="number" id="circSupply" name="circSupply" value="<%=circSupply.circSupply%>" required>
    <button class="button text-center align-self-center mt-3">Submit</button>
</form>
